@import "tailwindcss";

:root {
	--background: #1a1b1b;
	--foreground: #f8f8ff;
	--primary: #3b82f6;
	--secondary: #f97316;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-geist-sans);
}
